/* CSS Style Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variable Declaration */

:root {
    --blue-accent: #318CE7;
}

/* Body, Header, and Grid Styling */

body, button, input {
    font-size: 16px;
    font-family: Garamond, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header h1 {
    color: var(--blue-accent);
    font-size: 3rem;
    font-weight: bold;
}

header #start-button {
    padding: 0.75rem 1.5rem;
    background-color: white;
    border: 2px solid var(--blue-accent);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

header #start-button:hover {
    color: white;
    background-color: var(--blue-accent);
    cursor: pointer;
}

header #start-button:focus {
   outline: none;
}

#game-display {
    font-size: 1.5rem;
}

#game-display.hidden {
    display: none;
}

#board-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    width: 500px;
    height: 500px;

    background-color: gray;
    padding: 0.25rem;
    gap: 0.25rem;
}

#board-grid .board-tile {
    background-color: white;
    color: black;
    font-size: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

#board-grid .board-tile.interactable:hover {
    background-color: var(--blue-accent);
    cursor: pointer;
}

/* Dialog / Form Styling */

dialog {
    background-color: whitesmoke;
    padding: 0px;
    border: 0px;
    border-radius: 10px;
}

dialog::backdrop {
    backdrop-filter: blur(0.25rem);
}

#start-game-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
} 

#start-game-form .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#start-game-form #form-header {
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    margin-bottom: 0.5rem;
}

#start-game-form .form-row label {
    font-weight: bold;
}

#start-game-form .form-row input {
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 5px;
}

#start-game-form .form-row input::placeholder {
    color: gray;
}

#start-game-form .form-row input:invalid {
    border: 1px solid red;
}

#start-game-form .form-row input:valid {
    border: 1px solid green;
}

#start-game-form .form-row input:focus {
    outline: none;
    border: 1px solid var(--blue-accent);
}

#start-game-form .form-row #submit-button {
    padding: 1rem 0;
    margin-top: 0.5rem;
    background-color: var(--blue-accent);
    border: none;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

#start-game-form .form-row #submit-button:hover {
    filter: brightness(0.8);
    cursor: pointer;
}

#start-game-form .form-row #submit-button:focus {
    outline: 0px;
}

/* Media Queries */

@media (max-width: 550px) {
    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    header h1 {
        color: var(--blue-accent);
        font-size: 1.75rem;
        font-weight: bold;
    }
    
    header #start-button {
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
    }

    #board-grid {
        width: 300px;
        height: 300px;
    }
}