/* CSS Style Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variable Declaration */

:root {
    --white-accent: white;
    --gray-accent: gray;
    --blue-accent: #318CE7;
    --red-accent: #D80000;
}

/* Element Styling */

body {
    font-size: 16px;
    font-family: Garamond, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60vh;
    margin-bottom: 1rem;
}

#page-header #title {
    color: var(--blue-accent);
    font-weight: bold;
    font-size: 2rem;
}

#page-header #reset-button {
    padding: 0.25rem 1rem;
    background-color: var(--white-accent);
    border: 2px solid var(--blue-accent);
    border-radius: 999px;
}

#page-header #reset-button:hover {
    color: var(--white-accent);
    background-color: var(--blue-accent);
    transition: 0.5s;
}

#page-header #reset-button:focus {
   outline: none;
}

#board-grid {
    display: grid;
    grid-template: repeat(3, minmax(200px, 1fr)) / repeat(3, minmax(200px, 1fr));

    background-color: var(--gray-accent);
    padding: 0.25rem;
    gap: 0.25rem;
}

#board-grid .board-tile {
    background-color: var(--white-accent);
    color: black;
    font-size: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#board-grid .interactable:hover {
    background-color: var(--blue-accent);
    transition: 0.5s;
}

/* FORM STYLING */

dialog {
    background-color: whitesmoke;
    padding: 0px;
    border: 0px;
    border-radius: 10px;
}

#start-game-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    width: 10vw;
    min-height: 25vh;
    padding: 2rem;
} 

#start-game-form, #submit-button {
    font-weight: bold;
}

#start-game-form .form-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#start-game-form #form-header {
    align-self: center;
    font-size: 1.5rem;
}

#start-game-form input {
    margin-top: 0.25rem;
    padding: 0.5rem 0.25rem;
    border: 1px solid var(--white-accent);
    border-radius: 5px;
}

#start-game-form input::placeholder {
    color: gray;
    font-size: 13.33px;
}

#start-game-form input:focus {
    outline: 0px;
    border: 1px solid var(--blue-accent);
}

#start-game-form #submit-button {
    background-color: var(--blue-accent);
    border: 0px;
    border-radius: 10px;
    
    padding: 1rem 0;
}